@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

.project_page_wrapper {
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: $primary_300;
  letter-spacing: 1px;
  scroll-margin: 6rem;

  // height: calc(100vh - 6rem); //Just in case the "svh" is not supported!
  // height: calc(100svh - 6rem);

  margin-top: 20rem;
  padding: 2rem 0;
  // scroll-snap-align: end;
  // scroll-snap-stop: always;
  transition: $transition;
  // border: 2px solid rgb(211, 226, 0) !important;
}

.project_page_content {
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: calc(100vw - 4rem);
  margin: 0 auto;
  margin-bottom: 1rem;
  height: calc(100% - 1rem);
  // background: $primary_200;
  // border: 2px solid rgb(211, 226, 0) !important;
  h4 {
    width: 100%;
    text-align: left;
    font-size: $xlarge_font;
    font-weight: $font_weight4;
    text-transform: uppercase;
    color: $primary_100;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}

.light_mode h4 {
  color: $primary_500;
}

.project_wrapper {
  position: relative;
  // overflow: hidden;
  @include flex_center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  // background: $primary_650;
  // border: 2px solid rgb(211, 226, 0) !important;
}
.slider_wrapper {
  position: absolute;
  @include flex_center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: $transition;
}
.left_side {
  // overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // border: 2px solid rgb(211, 226, 0) !important;
}
.project_title {
  // display: inline-block;
  font-size: $title_font;
  margin-bottom: 1rem;
  color: $primary_300;
  // text-decoration: underline;
  // border-bottom: 1px solid $primary_300;

  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $primary_300;

  // border: 2px solid rgb(211, 226, 0) !important;
}

.light_mode .project_title {
  color: $primary_400;
}

.prj_description {
  letter-spacing: 1px;
  line-height: 1.3rem;
  color: $primary_200;

  // border: 2px solid rgb(211, 226, 0) !important;
}
.techs_stack {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
  color: $primary_100;
  li {
    @include flex_center;
    flex-direction: column;
  }
  div {
    font-size: 1.5rem;
  }
  p {
    display: none;
  }
  // border: 2px solid rgb(211, 226, 0) !important;
}

.right_side {
  @include flex_center;
  flex-direction: column;
  height: 100%;
  width: 100%;

  // border: 2px solid rgb(211, 226, 0) !important;
  .my_links {
    margin-top: 0rem;
    display: flex;
    gap: 2rem;

    li {
      padding-right: 1.25rem;
      text-wrap: nowrap;
      text-decoration: none;
    }
    a {
      display: inline-block;
      color: $primary_100;
      font-size: $large_font;
      padding: 0.5rem;
      border: 2px solid $primary_200;
      border-radius: 10px;

      &:hover {
        border: 2px solid $secondary_100;
      }
    }
  }
}

.light_mode .right_side {
  a {
    color: inherit;
  }
}
// .prj_pics_wrapper {
//   display: none;
//   border: 2px solid rgb(211, 226, 0) !important;
// }

.slider_btns {
  position: absolute;
  z-index: 50;
  background-color: transparent;
  border: none;
  @include flex_center;
  color: $secondary_100;
  font-size: 5rem;

  :hover {
    color: $secondary_200;
    transition: $transition;
    // transform: rotate(360deg);
  }
}
.prev_slide_btn {
  bottom: 0;
  left: 0;
}
.next_slide_btn {
  bottom: 0;
  right: 0;
}

.light_mode {
  .slider_btns {
    color: $tertiary-300;

    :hover {
      color: $tertiary-700;
    }
  }
}

.slider_pagination {
  position: absolute;
  right: 43%;
  @include flex_center;
  gap: 30px;
  // border: 2px solid rgb(211, 226, 0) !important;
  li {
    list-style-type: none;
  }
  a {
    display: block;
    background-color: $primary_500;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    // background: $primary_100;
    border: 2px solid $primary_300;
    transition: $transition;

    &:hover {
      border: 2px solid $secondary_100;
      border-radius: 0;
      transform: rotate(180deg);
    }
  }
  .active_page {
    height: 20px;
    width: 20px;
    border: 2px solid $secondary_100;
    border-radius: 0;
    // box-shadow: 0 0 5px 1px $primary_300;
    transition: 0.5s ease-in-out;
    transform: rotate(315deg);
  }
}

// ************************************
// ************ Tablet ***************
// ************************************
@media screen and (min-width: 700px) {
  .project_page_wrapper {
    margin: 0 auto;
    scroll-margin: 0;
    scroll-snap-align: end;
    padding: 2rem 0;
    height: calc(100vh - 6rem); //Just in case the "svh" is not supported!
    height: calc(100svh - 6rem);
    width: 85%;

    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .project_page_content {
    gap: 0;
    width: 100%;
    height: 100%;

    // border: 2px solid rgb(211, 226, 0) !important;
    h4 {
      font-size: $title_font;
      margin-bottom: 1rem;
      // border: 2px solid rgb(211, 226, 0) !important;
    }
  }
  .project_wrapper {
    @include flex_center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-radius: $border_radius;

    // border: 2px solid rgb(211, 226, 0) !important;
  }
  // .light_mode .project_wrapper {
  //   background: $primary_200;
  // }
  .left_side {
    width: 100%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .project_title {
    font-size: $title_font;
    // margin: 1rem 1rem 0 1rem;
  }
  .light_mode .project_title {
    color: $primary_500;
  }
  .prj_description {
    // margin: 1rem;
    font-size: $base_font;
    font-weight: $font_weight5;
  }
  .techs_stack {
    display: flex;
    justify-content: space-between;
    font-weight: $font_weight5;
    margin: 2rem 0;

    p {
      display: block;
      font-size: $xsmall_font;
    }
  }

  .right_side {
    width: 100%;
    // border: 2px solid rgb(211, 226, 0) !important;
    a {
      color: inherit;
      border: none;

      &:hover {
        border: none;
        color: $secondary_100;
      }
    }
  }
  .light_mode .right_side {
    a {
      color: inherit;
      &:hover {
        border: none;
        color: $tertiary-600;
      }
    }
  }

  .prev_slide_btn {
    bottom: auto;
    left: auto;
    top: 40%;
    left: 8%;
  }
  .next_slide_btn {
    bottom: auto;
    left: auto;
    top: 40%;
    right: 8%;
  }
  .slider_pagination {
    right: 50%;
    top: 42%;
  }

  @media screen and (min-height: 800px) {
    .prj_pics_wrapper {
      @include flex_center;
      position: relative;
      height: 58%;
      width: 80%;

      // border: 2px solid rgb(211, 226, 0) !important;
    }
    .desktop_pic {
      @include flex_center;
      height: 100%;
      width: 100%;
      border-radius: $border_radius;
      border: 1px solid $primary_200;
      transition: $transition;

      &:hover {
        filter: invert(100%) blur(0.1rem);
      }
    }

    .light_mode .desktop_pic {
      border: 1px solid $primary_300;

      filter: invert(100%);
      &:hover {
        filter: invert(0%) blur(0.1rem);
      }
    }

    .tablet_pic {
      position: absolute;
      bottom: 0;
      right: -10%;
      transform: perspective(50rem) rotateY(-20deg);
      height: 14rem;
      width: 10rem;
      border-radius: $border_radius;
      border: 1px solid $primary_200;
      transition: $transition;

      &:hover {
        filter: invert(100%) blur(0.1rem);
      }
    }

    .light_mode .tablet_pic {
      border: 1px solid $primary_300;

      filter: invert(100%);
      &:hover {
        filter: invert(0%) blur(0.1rem);
      }
    }

    .cellphone_pic {
      position: absolute;
      bottom: 0%;
      left: -5%;
      transform: perspective(50rem) rotateY(30deg);
      height: 11rem;
      width: 5.5rem;
      border-radius: $border_radius;
      border: 1px solid $primary_200;
      transition: $transition;

      &:hover {
        filter: invert(100%) blur(0.1rem);
      }
    }

    .light_mode .cellphone_pic {
      border: 1px solid $primary_300;

      filter: invert(100%);
      &:hover {
        filter: invert(0%) blur(0.1rem);
      }
    }

    .right_side {
      .my_links {
        position: absolute;
        bottom: -4rem;
        right: 50%;
        transform: translateX(50%);

        // margin-top: 2rem;
        display: flex;
        gap: 2rem;

        // border: 2px solid rgb(211, 226, 0) !important;

        a {
          text-decoration: none;
          border: none;
          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

// ************************************
// ************ Desktop ***************
// ************************************
@media screen and (min-width: 1300px) {
  .project_page_wrapper {
    scroll-snap-align: end;
    scroll-margin: 0;
    width: 100vw;
    max-width: 1920px;
    padding: 0;

    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .project_page_content {
    width: 80%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .project_wrapper {
    @include flex_center;
    flex-direction: row;
    width: 80%;
    height: 75%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .slider_wrapper {
    flex-direction: row;
  }
  .left_side {
    width: 50%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .project_title {
    margin: 1rem 1rem 0 0;
    font-size: $xhuge_font;
    color: $primary_200;
  }
  .prj_description {
    margin: 1rem 5rem 1rem 0;
  }
  .techs_stack {
    display: flex;
    margin: 2rem 5rem 2rem 0;
  }

  .right_side {
    width: 50%;
    // position: relative;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .prj_pics_wrapper {
    @include flex_center;
    position: relative;
    height: 55%;
    max-height: 390px;
    width: 95%;
    max-width: 720px;

    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .desktop_pic {
    @include flex_center;
    height: 100%;
    width: 100%;
    border-radius: $border_radius;
    border: 1px solid $primary_200;
    transition: $transition;

    &:hover {
      filter: invert(100%) blur(0.1rem);
    }
  }

  .light_mode .desktop_pic {
    border: 1px solid $primary_300;

    filter: invert(100%);
    &:hover {
      filter: invert(0%) blur(0.1rem);
    }
  }

  .tablet_pic {
    position: absolute;
    bottom: 0;
    right: -10%;
    transform: perspective(50rem) rotateY(-20deg);
    height: 14rem;
    width: 10rem;
    border-radius: $border_radius;
    border: 1px solid $primary_200;
    transition: $transition;

    &:hover {
      filter: invert(100%) blur(0.1rem);
    }
  }

  .light_mode .tablet_pic {
    border: 1px solid $primary_300;

    filter: invert(100%);
    &:hover {
      filter: invert(0%) blur(0.1rem);
    }
  }

  .cellphone_pic {
    position: absolute;
    bottom: 0%;
    left: -5%;
    transform: perspective(50rem) rotateY(30deg);
    height: 11rem;
    width: 5.5rem;
    border-radius: $border_radius;
    border: 1px solid $primary_200;
    transition: $transition;

    &:hover {
      filter: invert(100%) blur(0.1rem);
    }
  }

  .light_mode .cellphone_pic {
    border: 1px solid $primary_300;

    filter: invert(100%);
    &:hover {
      filter: invert(0%) blur(0.1rem);
    }
  }

  .right_side {
    .my_links {
      position: absolute;
      bottom: -4rem;
      right: 50%;
      transform: translateX(50%);

      margin-top: 2rem;
      display: flex;
      gap: 2rem;

      // border: 2px solid rgb(211, 226, 0) !important;

      a {
        text-decoration: none;
        border: none;
        &:hover {
          border: none;
        }
      }
    }
  }
  .slider_pagination {
    right: 50%;
    top: auto;
  }
}
