@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";
// ************ Project ***************

.project_wrapper {
  scroll-margin: 6rem;
  scroll-snap-align: start;
  font-family: "Roboto", sans-serif;
  color: $primary_300;
  letter-spacing: 1px;
  height: calc(100vh - 6rem);
  // border: 2px solid rgb(211, 226, 0) !important;
}

.project_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: calc(100vw - 5rem);
  margin: 2rem auto;
  margin-bottom: 1rem;
  height: calc(100% - 1rem);
  // background: $primary_200;
  // border: 2px solid rgb(211, 226, 0) !important;
  h4 {
    width: 100%;
    text-align: left;
    font-size: $title_font;
    font-weight: $font_weight3;
    text-transform: uppercase;
    color: $primary_100;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}

.prj_items_wrapper {
  position: relative;
  width: 70%;
  height: 75%;
  // border: 2px solid rgb(211, 226, 0) !important;
}

.desktop_pic {
  position: absolute;
  top: 25%;
  right: 10%;
  // transform: translateY(-50%) perspective(50rem) rotateY(-30deg);
  height: 18rem;
  width: 34rem;
  border-radius: 10px;
  border: 2px solid $primary_300;
  background: url("../../pictures/desktop-bw.jpg") center/cover;
}
.tablet_pic {
  position: absolute;
  top: 12%;
  right: 0%;
  // transform: translateY(-50%) perspective(50rem) rotateY(-30deg);
  height: 16rem;
  width: 12rem;
  border-radius: 10px;
  border: 2px solid $primary_300;
  background: url("../../pictures/Tablet-bw.jpg") center/cover;
}
.cellphone_pic {
  position: absolute;
  top: 39%;
  right: 25%;
  // transform: translateY(-50%) perspective(50rem) rotateY(-30deg);
  height: 10rem;
  width: 6rem;
  border-radius: 10px;
  border: 2px solid $primary_300;
  background: url("../../pictures/Cellphone-bw.jpg") center/cover;
}
