@import "./variables";

@mixin flex_center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

// *********** Theme Mode **************
@mixin theme_mode($light-theme: true) {
  @if $light-theme {
    background: $primary_100;
    color: $primary_500;

    transition: 300ms ease-in-out all;
  } @else {
    transition: 300ms ease-in-out all;
  }
}
