@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  cursor: none;
  // border: 1px solid red !important;
}

html {
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
