// ********* Colors *********

$primary_100: #ececec;
$primary_200: #c4c4c4;
$primary_300: #989898;
$primary_400: #6b6b6b;
$primary_500: #3e3e3e;
$primary_600: #282828;
$primary_700: #111111;

$secondary_100: #fac09c;
$secondary_200: #ff9959;
$secondary_300: #ff7a27;

// ********* Fonts Sizes *********
$tiny_font: 0.625rem;
$xsmall_font: 0.75rem;
$small_font: 0.875rem;
$base_font: 1rem;
$large_font: 1.375rem;
$larger_font: 1.5rem;
$xlarge_font: 1.75rem;
$title_font: 2rem;
$huge_font: 2.5rem;
$xhuge_font: 3.75rem;

$letter_spacing: 1px;
$line_height: 1;
// ********* Fonts Weights*********
$font_weight1: 100;
$font_weight2: 200;
$font_weight3: 300;
$font_weight4: 400;
$font_weight5: 500;
$font_weight6: 600;
$font_weight7: 700;
$font_weight8: 800;
// ********************************
$transition: 0.3s ease-in-out all;
$border_radius: 0.25rem;
