@import "./resets";
@import "./variables";
@import "./functions";

.my_cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $secondary_300;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}
.shadow {
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 25px;

  transform: translate(-50%, -50%);
  pointer-events: none;
  background: $primary_200;
  mix-blend-mode: difference;
  opacity: 1;
  border: none;
  z-index: 99;
  transition: 250ms ease-out;
}

.shadow.over {
  background: #cafafe73;
  /* mix-blend-mode: difference; */
  transform: translate(-50%, -50%) scale(4);
  border: 1px solid #d34420;
  transition: transform 250ms ease-in-out, border 250ms ease-out;
}
