@import "./resets";
@import "./variables";
@import "./functions";

body {
  background: $primary_700;
}

// ********* Theme Mode **********
.light_mode {
  @include theme_mode(true, $primary_700, $secondary_100);
}
.dark_mode {
  @include theme_mode(false, $primary_700, $secondary_100);
}

// ************ Navbar ***************
.nav_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  background: $primary_700;
  z-index: 1;
  // border: 2px solid rgb(166, 255, 0) !important;
}
.nav_content {
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
  @include flex_center;
  justify-content: space-between;
  font-family: "Comfortaa", sans-serif;
  font-size: $small_font;
  text-transform: uppercase;
  color: $primary_200;
}
.availability_status {
  flex: 1;
}
.theme_mode {
  flex: 1;
  @include flex_center;
  font-size: $base_font;
}
.navlinks_btn_wrapper {
  flex: 1;
  @include flex_center;
  justify-content: right;
}
.nav_btn_wrapper {
  @include flex_center;
  justify-content: right;
  height: 1.5rem;
  width: 1.5rem;
}
.menu_btn {
  position: relative;
  height: 0.15rem;
  width: 1.35rem;
  border-radius: 25px;
  background: $primary_200;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 1.35rem;
    border-radius: 25px;
    transform: rotate(90deg);
    background: $primary_200;
  }

  &.close {
    transform: rotate(-135deg);
    &::before {
      transform: rotate(90deg);
    }
    transition: $transition;
  }
}

.nav_links {
  @include flex_center;
  justify-content: space-between;
  // border: 2px solid yellow;
  li {
    padding-right: 1.25rem;
    text-wrap: nowrap;
  }
  a:visited {
    color: $primary_200;
  }
}

// ************ Hero ***************
.hero_wrapper {
  overflow: hidden;
  scroll-snap-align: start;
  // scroll-snap-stop: always;
  scroll-margin: 6rem;
  scroll-behavior: smooth;

  margin-top: 6rem;
  height: calc(100vh - 6rem);
  @include flex_center;
  text-transform: uppercase;
  // border: 2px solid rgb(10, 124, 253) !important;
}
.hero_title {
  font-family: "Noto Sans Thai", sans-serif;
  padding: 7%;
  span {
    color: $primary_200;
    font-size: 15vw;
    height: 100%;
    transition: $transition;
    line-height: 20rem;
    &:hover {
      color: $secondary_100;
      filter: blur(0.2rem);
    }
  }
}
// .hero_title::before {
//   content: "";
//   position: absolute;
//   top: 95%;
//   left: 0%;
//   width: 90%;
//   height: 15%;
//   background: $primary_200;
//   transform: perspective(20rem) rotateX(60deg);
//   filter: blur(3rem);
// }

.my_info {
  scroll-snap-align: start;
  // scroll-snap-stop: always;
  scroll-margin: 6rem;

  height: calc(100vh - 6rem);

  font-size: $xhuge_font;
  color: $primary_200;
  // border: 2px solid rgb(211, 226, 0) !important;
}
