@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";
// ************ Hero ***************
.hero_wrapper {
  overflow: hidden;
  scroll-snap-align: start;
  // scroll-snap-stop: always;
  scroll-margin: 6rem;
  scroll-behavior: smooth;

  margin-top: 6rem;
  height: calc(100vh - 6rem);
  @include flex_center;
  text-transform: uppercase;
  // border: 2px solid rgb(10, 124, 253) !important;
}

.hero_title {
  position: relative;
  // border: 2px solid rgb(211, 226, 0) !important;
  font-family: "Noto Sans Thai", sans-serif;

  .hero_title_p1 {
    margin: 0;
    padding: 0;
    width: 100%;
    // border: 2px solid rgb(10, 124, 253) !important;
    line-height: 0.8;
  }
  .hero_title_p2 {
    width: 100%;
    // border: 2px solid rgb(10, 124, 253) !important;
  }
  span {
    font-size: 15vw;
    height: 100%;
    transition: $transition;
    &:hover {
      color: $secondary_100;
      filter: blur(0.2rem);
    }
  }
}

.light_mode .hero_title {
  span {
    &:hover {
      color: $tertiary-300;
      filter: blur(0.2rem);
    }
  }
}
.my_sentence {
  position: absolute;
  top: 0;
  right: 0;
  @include flex_center;
  width: 32rem;
  height: 11rem;
  text-transform: none;
  // text-align: justify;
  color: $primary_300;
  p {
    display: inline;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  small {
    display: block;
    margin-top: 0.5rem;
  }
  .curlies {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-size: 11rem;
    line-height: 0;
  }
  // border: 2px solid rgb(211, 226, 0) !important;
}
// .hero_title::before {
//   content: "";
//   position: absolute;
//   top: 95%;
//   left: 0%;
//   width: 90%;
//   height: 15%;
//   background: $primary_200;
//   transform: perspective(20rem) rotateX(60deg);
//   filter: blur(3rem);
// }
