@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

.hero_wrapper {
  overflow: hidden;
  // scroll-snap-align: end;
  // scroll-snap-stop: always;
  scroll-margin: 6rem;

  height: 100vh;

  @include flex_center;
  text-transform: uppercase;
  // border: 2px solid rgb(10, 124, 253) !important;
}

.hero_title {
  position: relative;
  font-family: "Noto Sans Thai", sans-serif;

  .hero_title_p1 {
    font-size: 15vw;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 0.9;

    // display: flex;
    // flex-direction: column;
    // border: 2px solid rgb(10, 124, 253) !important;
  }
  .hero_title_p2 {
    font-size: 15vw;
    width: 100%;
    line-height: 0.9;
    // margin-top: 0.5rem;
    // border: 2px solid rgb(10, 124, 253) !important;
  }
  span {
    height: 100%;
    transition: $transition;
    &:hover {
      color: $secondary_100;
      filter: blur(0.2rem);
    }
  }
}

.light_mode .hero_title {
  span {
    &:hover {
      color: $tertiary-300;
      filter: blur(0.2rem);
    }
  }
}
.my_sentence {
  display: none;
}

// ****************************************
// ************ Hero Tablet ***************
// ****************************************

@media screen and (min-width: 600px) {
  .hero_wrapper {
    scroll-margin: 0;
    margin-top: 6rem;
    height: calc(100vh - 6rem);
    scroll-snap-align: end;

    // border: 2px solid rgb(10, 124, 253) !important;
  }

  .hero_title {
    position: relative;
    // border: 2px solid rgb(211, 226, 0) !important;
    font-family: "Noto Sans Thai", sans-serif;

    .hero_title_p1 {
      font-size: 15vw;
    }
  }

  .my_sentence {
    position: absolute;
    top: 0;
    right: 0;
    @include flex_center;
    width: 28rem;
    height: 11rem;
    text-transform: none;
    color: $primary_300;
    transition: $transition;
    // text-align: justify;
    p {
      display: inline;
      // border: 2px solid rgb(211, 226, 0) !important;
    }
    small {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
    .curlies {
      font-family: "Fira Sans", sans-serif;
      font-weight: 100;
      font-size: 11rem;
      line-height: 0;
    }
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .light_mode .my_sentence {
    color: $primary_400;
    small {
      color: $primary_500;
    }
  }
}

// ****************************************
// ************ Hero Desktop **************
// ****************************************

@media screen and (min-width: 992px) {
  .hero_wrapper {
    scroll-snap-align: end;
    scroll-margin: 0;
    margin-top: 6rem;
    height: calc(100vh - 6rem);

    width: 100vw;
    max-width: 1920px;

    // border: 2px solid rgb(10, 124, 253) !important;
  }

  .hero_title {
    .hero_title_p1 {
      display: block;
      // line-height: 0.6;
      // border: 2px solid rgb(10, 124, 253) !important;
      font-size: clamp(20px, 15vw, 19rem);
    }
    .hero_title_p2 {
      font-size: clamp(20px, 15vw, 19rem);
    }
  }

  .my_sentence {
    position: absolute;
    top: 0.5rem;
    right: 0;
    @include flex_center;
    width: 30rem;
    height: 11rem;
    text-transform: none;
    color: $primary_300;
    font-family: "Roboto", sans-serif;
    transition: $transition;
    // text-align: justify;
    p {
      display: inline;
      font-size: 1.15rem;
      // border: 2px solid rgb(211, 226, 0) !important;
    }
    small {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
    }
    .curlies {
      font-family: "Fira Sans", sans-serif;
      font-weight: 100;
      font-size: 11rem;
      line-height: 0;
    }
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .light_mode .my_sentence {
    color: $primary_400;
    small {
      color: $primary_500;
    }
  }

  // .hero_title::before {
  //   content: "";
  //   position: absolute;
  //   top: 95%;
  //   left: 0%;
  //   width: 90%;
  //   height: 15%;
  //   background: $primary_200;
  //   transform: perspective(20rem) rotateX(60deg);
  //   filter: blur(3rem);
  // }
}
