@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

// *********** React Toast ************
// .Toastify__toast--success {
//   background: $primary_300 !important;
//   border: 2px solid $primary_100 !important;
//   border-radius: $border_radius !important;
//   color: $primary_100;
// }

// ************ Contact ***************

.contact_page_wrapper {
  scroll-margin: 6rem;
  scroll-snap-align: start;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  height: calc(100vh - 6rem);
  // border: 2px solid rgb(211, 226, 0) !important;
}

.contact_page_content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: calc(100vw - 4rem);
  margin: 2rem auto;
  margin-bottom: 1rem;
  height: calc(100% - 1rem);
  // background: $primary_200;
  // border: 2px solid rgb(211, 226, 0) !important;
  h4 {
    width: 100%;
    text-align: left;
    font-size: $title_font;
    font-weight: $font_weight3;
    text-transform: uppercase;
    color: $primary_100;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 85%;
  margin-top: 2rem;
  border-radius: $border_radius;
  // border: 2px solid rgb(211, 226, 0) !important;

  label {
    font-size: $large_font;
    color: $primary_300;
    margin-bottom: 1rem;
  }
  input {
    color: $primary_200;
    font-size: $large_font;
    border: none;
    border-bottom: 1px solid $primary_300;
    background: transparent;
    margin-bottom: 4rem;

    &::placeholder {
      color: $primary_500;
    }

    &:focus {
      outline: none;
    }

    &:-webkit-autofill {
      color: $primary_200;
      font-size: $large_font;
      border: none;
      border-bottom: 1px solid $primary_300;
      background: transparent;
    }
  }

  textarea {
    resize: none;
    border: none;
    border-bottom: 1px solid $primary_300;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-size: $large_font;
    color: $primary_200;
    margin-bottom: 2rem;

    &::placeholder {
      color: $primary_500;
    }

    &:focus {
      outline: none;
    }
  }
  .btn_container {
    @include flex_center;
  }
  button {
    height: 2rem;
    width: 20rem;

    font-size: $xlarge_font;
    color: inherit;
    text-transform: uppercase;
    border: none;
    background: transparent;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}
