@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

.nav_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 6rem;
  width: 100%;
  background: $primary_700;
  z-index: 1;
  transition: 300ms ease-in-out all;
  // border: 2px solid rgb(166, 255, 0) !important;
}
.light_mode .nav_wrapper {
  background: $primary_100;
  transition: 300ms ease-in-out all;
}
.nav_content {
  padding: 1rem 1rem;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  @include flex_center;
  justify-content: space-between;
  font-family: "Comfortaa", sans-serif;
  font-size: $small_font;
  font-weight: $font_weight5;
  text-transform: uppercase;

  // border: 2px solid rgb(166, 255, 0) !important;
}
.light_mode .nav_content {
  font-weight: $font_weight5;
  transition: 50ms ease-in-out;
}

.available_status_wrapper {
  visibility: hidden;
  flex: 1;

  // border: 2px solid rgb(166, 255, 0) !important;
}

.theme_mode_wrapper {
  flex: 1;
  @include flex_center;
  font-size: $base_font;

  // border: 2px solid rgb(166, 255, 0) !important;
}
.light_mode .theme_mode_wrapper {
  :hover {
    color: $tertiary-600;
  }
}

.theme_mode_btn {
  @include flex_center;
  width: 4rem;
  height: 2.5rem;
  // border: 2px solid rgb(166, 255, 0) !important;
}

.slider_menu_wrapper {
  flex: 1;
  @include flex_center;
  justify-content: right;

  // border: 2px solid rgb(166, 255, 0) !important;
}
.navlinks_btn_wrapper {
  display: none;
}
.nav_btn_wrapper {
  @include flex_center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  // border: 2px solid rgb(166, 255, 0) !important;
}
.menu_btn {
  position: relative;
  height: 0.15rem;
  width: 1.35rem;
  border-radius: 25px;
  background: $primary_200;
  transition: $transition;

  &::before {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 1.35rem;
    border-radius: 25px;
    transform: rotate(90deg);
    background: $primary_200;
    transition: 300ms ease-in-out all;
  }

  &.close {
    height: 0.3rem;
    width: 2.5rem;
    transform: rotate(-135deg);
    &::before {
      transform: rotate(90deg);
      height: 0.3rem;
      width: 2.5rem;
    }
    transition: 300ms ease-in-out all;
  }
}

.light_mode .menu_btn {
  background: $primary_700;
  &::before {
    background: $primary_700;
  }
}

.slider_links {
  position: fixed;
  top: 0rem;
  right: 0;
  height: calc(100vh);
  width: 100%;
  background: $primary_700;
  @include flex_center;
  flex-direction: column;
  gap: 2rem;
  // border: 2px solid yellow;
  li {
    text-wrap: nowrap;
    white-space: nowrap; //For FireFox
    text-decoration: none;
  }
  a {
    color: inherit;
    font-size: $xlarge_font;
  }
  // border: 2px solid rgb(10, 124, 253) !important;
}

.light_mode .slider_links {
  background: $primary_100;
  a:hover {
    color: $tertiary-600;
  }
}

// *******************************************
// ************ Navbar Desktop ***************
// *******************************************

@media screen and (min-width: 992px) {
  .nav_content {
    padding: 1rem 2rem;
  }
  .available_status_wrapper {
    visibility: visible;
    flex: 1;
    a {
      @include flex_center;
      justify-content: left;
      height: 2.5rem;
      width: 16rem;
      // border: 2px solid rgb(166, 255, 0) !important;
    }
  }
  .available_status {
    display: inline-block;
    color: inherit;
    &:hover {
      font-weight: $font_weight6;
    }
  }

  .light_mode .available_status {
    &:hover {
      color: $tertiary-600;
    }
  }

  .slider_menu_wrapper {
    display: none;
  }
  .navlinks_btn_wrapper {
    flex: 1;
    @include flex_center;
    justify-content: right;

    // border: 2px solid rgb(166, 255, 0) !important;
  }
  .nav_btn_wrapper {
    @include flex_center;
    justify-content: right;
    height: 1.5rem;
    width: 1.5rem;
  }
  .menu_btn {
    position: relative;
    height: 0.15rem;
    width: 1.35rem;
    border-radius: 25px;
    background: $primary_200;
    transition: $transition;

    &::before {
      content: "";
      position: absolute;
      height: 0.15rem;
      width: 1.35rem;
      border-radius: 25px;
      transform: rotate(90deg);
      background: $primary_200;
      transition: 300ms ease-in-out all;
    }

    &.close {
      transform: rotate(-135deg);
      height: 0.15rem;
      width: 1.35rem;
      &::before {
        height: 0.15rem;
        width: 1.35rem;
        transform: rotate(90deg);
      }
      transition: 300ms ease-in-out all;
    }
  }

  .nav_links {
    @include flex_center;
    justify-content: space-between;
    // border: 2px solid yellow;
    li {
      padding-right: 1.25rem;
      text-wrap: nowrap;
      white-space: nowrap; //For FireFox
      text-decoration: none;
    }
    a {
      color: inherit;
    }
    a:hover {
      font-weight: $font_weight6;
    }
  }

  .light_mode .nav_links {
    a:hover {
      color: $tertiary-600;
    }
  }
}
