@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

.about_me_wrapper {
  scroll-snap-align: start;

  scroll-margin: 6rem;
  font-family: "Comfortaa", sans-serif;
  height: calc(100vh - 6rem);

  // border: 2px solid rgb(211, 226, 0) !important;

  .about_me_content {
    @include flex_center;
    align-items: flex-start;
    gap: 2rem;
    width: calc(100vw - 5rem);
    margin: 2rem auto;
    height: 90%;
    // background: $primary_200;
  }
  h4 {
    font-size: $title_font;
    text-transform: uppercase;
  }

  .left_side_wrapper {
    height: 35rem;
    width: 30%;
    height: 100%;

    // border: 1px solid $primary_200;

    .left_side_top {
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      // background: $primary_600;
      border-radius: 10px;
    }
    .left_side_bottom {
      width: 100%;
      height: 45%;
      margin-top: 5%;
      background: $primary_600;
      border-radius: 10px;
    }
  }
  .right_side_wrapper {
    height: 35rem;
    width: 70%;
    text-align: center;
  }
  .right_side_content {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    border-radius: 10px;
    // border: 1px solid $primary_200;
    background: $primary_600;
  }
}
