@import "../../Sass/resets";
@import "../../Sass/variables";
@import "../../Sass/functions";

.about_me_wrapper {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: $primary_300;
  letter-spacing: 1px;
  // height: calc(100vh - 6rem);
  scroll-margin: 6rem;

  height: calc(100vh - 6rem);
  padding: 2rem 0;

  transition: $transition;
  // border: 1px solid rgb(211, 226, 0) !important;

  .about_me_content {
    @include flex_center;
    flex-direction: column;
    // align-items: flex-start;
    // gap: 2rem;
    width: calc(100vw - 4rem);
    margin: 0 auto;
    margin-bottom: 1rem;
    height: calc(100% - 2rem);
    // background: $primary_200;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}

.light_mode .about_me_wrapper {
  color: $primary_500;
}
.page_title {
  display: none;
  font-weight: $font_weight4;
}
h4 {
  font-size: $xlarge_font;
  font-weight: $font_weight4;
  text-transform: uppercase;
  color: $primary_100;
}
.light_mode h4 {
  color: $primary_500;
}

.about_education_wrapper {
  width: 100%;
  margin-bottom: 1rem;
  // border: 1px solid yellow;
}
.about_me_section {
  display: none;
}
.education_section {
  // background: $primary_650;
  // border-radius: $border_radius;
  h4 {
    margin-bottom: 1rem;
  }
  li {
    list-style-type: disc;
    font-weight: $font_weight6;
    font-size: $small_font;
    color: $primary_200;
    margin-left: 0.8rem;
  }
  p {
    font-size: $small_font;
    margin-right: 2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
    color: $primary_400;
  }
}

.light_mode li {
  color: $primary_500;
}
.light_mode p {
  color: $primary_500;
}

.skill_section_wrapper {
  @include flex_center;
  height: 100%;
  width: 100%;
  text-align: center;
  h4 {
    text-align: left;
    margin-bottom: 1rem;
  }
  // border: 2px solid rgb(211, 226, 0) !important;
}
.skill_section_content {
  width: 100%;
  height: 100%;
  // border: 2px solid rgb(211, 226, 0) !important;
}

.skills_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4rem);

  gap: 0.4rem;
  // border: 2px solid rgb(211, 226, 0) !important;
}

.items_wrapper {
  @include flex_center;
  justify-content: left;
  gap: 4%;
  padding: 0.25rem 0 0.25rem 0;
  color: $primary_100;
  // font-weight: $font_weight4;
  height: 3rem;
  border-bottom: 1px solid $primary_400;
  // border: 2px solid rgb(211, 226, 0) !important;
  @media screen and (pointer: fine) {
    .item:hover {
      color: $secondary_100;
    }
  }
}
.light_mode .items_wrapper {
  color: $primary_500;
  @media screen and (pointer: fine) {
    .item:hover {
      color: $tertiary-300;
    }
  }
}

.category {
  display: none;
}
.icon {
  font-size: 0.8rem;
}

.item_name {
  font-size: 0.7rem;
}

// ****************************************
// ************    Tablet   **************
// ****************************************
@media screen and (min-width: 700px) {
  .about_me_wrapper {
    scroll-margin: 0;
    scroll-snap-align: end;
    padding: 2rem 0;
    width: 80%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }
}
// ****************************************
@media screen and (min-width: 900px) {
  .about_me_wrapper {
    scroll-margin: 0;
    scroll-snap-align: end;
    padding: 2rem 0;
    width: 80%;
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .about_education_wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    gap: 3rem;
    // border: 1px solid yellow;
  }
  .page_title {
    display: block;
    margin-bottom: 1rem;
  }
  .about_me_section {
    display: block;
    width: 50%;
    margin-top: 0.5rem;
    // margin-bottom: 5rem;
    line-height: 1.3rem;
    color: $primary_200;
    font-size: $small_font;
    font-weight: $font_weight4;
    // border-radius: $border_radius;
  }

  .education_section {
    width: 50%;
  }
  .skill_section_wrapper {
    h4 {
      margin-bottom: 0.5rem;
    }
  }
  .items_wrapper {
    gap: 7%;
    border-bottom: none;
    border-top: 1px solid $primary_400;
  }

  .icon {
    display: block;
    font-size: 1rem;
  }
  .light_mode .icon {
    color: $primary_500;
  }
}

// ****************************************
// ************    Desktop   **************
// ****************************************
@media screen and (min-width: 1200px) {
  .about_me_wrapper {
    font-family: "Roboto", sans-serif;
    color: $primary_300;
    letter-spacing: 1px;

    height: calc(100vh - 6rem);

    width: 100vw;
    max-width: 1920px;
    padding: 0;

    scroll-snap-align: end;
    scroll-margin: 0;
    transition: $transition;
    // border: 2px solid rgb(211, 226, 0) !important;

    .about_me_content {
      // overflow: hidden;
      @include flex_center;
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
      width: 80%;
      margin-bottom: 1rem;
      height: calc(100% - 1rem);
      max-height: 800px;
      // background: $primary_200;
      // border: 2px solid rgb(211, 226, 0) !important;
    }
  }

  .page_title {
    display: block;
  }
  h4 {
    font-size: $title_font;
    font-weight: $font_weight4;
  }

  .about_education_wrapper {
    display: block;
    height: 100%;
    width: 35%;
    height: 100%;
    margin-bottom: 0;
    // border: 1px solid yellow;
  }
  .about_me_section {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    line-height: 1.3rem;
    p {
      font-weight: $font_weight4;
    }
    // border: 1px solid yellow;
  }
  .light_mode .about_education_wrapper {
    p {
      color: $primary_400;
    }
  }
  .education_section {
    margin-top: 5%;
    width: 100%;
    // background: $primary_650;
    li {
      font-size: $base_font;
      margin-left: 1rem;
    }
    p {
      font-weight: $font_weight5;
      margin-right: 2rem;
      margin-top: 0.25rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
    }
  }
  .skill_section_wrapper {
    @include flex_center;
    height: 100%;
    width: 65%;
    text-align: center;
    h4 {
      margin-bottom: 0;
      text-align: center;
    }
    // border: 2px solid rgb(211, 226, 0) !important;
  }
  .skill_section_content {
    width: 100%;
    height: 100%;
    // border-radius: $border_radius;
    // background: $primary_600;

    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .skills_wrapper {
    gap: 0.5;
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .items_wrapper {
    gap: 9%;
    border-bottom: none;
    height: 3.5rem;
    .item:hover {
      color: $secondary_100;
    }
    // border: 2px solid rgb(211, 226, 0) !important;
  }

  .light_mode .items_wrapper {
    .item:hover {
      .icon {
        color: $tertiary-300;
      }
      color: $tertiary-300;
    }
  }

  .category {
    display: block;
    // background: $primary_500;
    text-align: left;
    color: $primary_400;
    letter-spacing: 0.35rem;
    // margin-bottom: 0.5rem;
    padding: 0.2rem 0 0.2rem 0;
    font-weight: $font_weight6;
    font-size: $small_font;
    border-bottom: 1px solid $primary_400;
  }
  // .light_mode .category {
  //   color: $primary_300;
  // }
  .icon {
    display: block;
    font-size: 1.15rem;
  }
  .light_mode .icon {
    color: $primary_500;
  }

  .item_name {
    font-size: 0.75rem;
    text-wrap: nowrap;
    white-space: nowrap; //For FireFox
  }
}
